In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
print(df.head())
print(df['species'].value_counts())
df.describe()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

X = iris.data
y = iris.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5, random_state=42, stratify=y)
model = DecisionTreeClassifier(random_state=42, max_depth=3)
model.fit(X_train, y_train)
scores = cross_val_score(model, X, y, cv=5)
print(f"Cross-validation accuracy: {scores.mean():.3f} (+/- {scores.std() * 2:.3f})")

Cross-validation accuracy: 0.973 (+/- 0.050)

In [9]:
# Now test the fitted model on held-out data
y_pred = model.predict(X_test)
test_accuracy = model.score(X_test, y_test)
print(f"Final test accuracy: {test_accuracy:.3f}")
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, target_names=iris.target_names))

Final test accuracy: 0.907
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        25
  versicolor       0.80      0.96      0.87        25
   virginica       0.95      0.76      0.84        25

    accuracy                           0.91        75
   macro avg       0.92      0.91      0.91        75
weighted avg       0.92      0.91      0.91        75

In [3]:
import os
print(os.path.abspath('iris_ml_project.ipynb'))

c:\Users\acer\py\iris_ml_project\iris_ml_project.ipynb